apiai==1.2.3
appdirs==1.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
click==6.7
Flask==0.12.2
gunicorn==19.7.1
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.21.0
packaging==16.8
pymessenger==0.0.7.0
pyparsing==2.2.0
requests==2.14.2
requests-toolbelt==0.8.0
six==1.10.0
utils==0.9.0
webencodings==0.5.1
Werkzeug==0.12.2
